.info-button {
	-fx-background-color: transparent;
}

.mediaplayer-button {
	-fx-background-color: transparent;
}

.above-mixer-slider {
	-fx-margin-left: 10.0px;
	-fx-display: flex;
  	-fx-flex-wrap: wrap;
}

.tab {
	-fx-font-size: 1.3em;
	-fx-pref-height: 2.0em;
}

#labelSelectedFile {
	-fx-font-weight: bold;
}

.effect-section{
	-fx-border: ridge;
	-fx-border-color: lightgray;
	-fx-border-radius: 1.0em;
}

.centered-content{
	-fx-text-align: center;
    -fx-display: block;
    -fx-margin: auto;
}

.mixer-controller-buttons{
	-fx-pref-width: 10.0em;	
}

.testi{
	-fx-display: inline-block;
	-fx-height: auto;
	-fx-width:auto;
}